{% extends 'base.html' %}
{% load static %}

{% block contenido %}



<h1> Perfil de Usuario </h1>

</br>

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if pagina_usuario.imagen_perfil %}
            <img src="{{ pagina_usuario.imagen_perfil.url }}" width=190  height=190 class="rounded-circle" class="card-img">
        {% else %}
            <img src="{% static 'tblog_app/images/perfil_default.png' %}" width=190  height=190 class="rounded-circle" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ pagina_usuario.usuario.first_name}} {{pagina_usuario.usuario.last_name }}</h5>
          <p class="card-text">{{ pagina_usuario.bio }} </p>
          <p class="card-text"><small class="text-muted">Miembro desde {{ pagina_usuario.usuario.date_joined }} 
        </div>
      </div>
    </div>
  </div>
  
  Seguime en mis redes!


{% endblock %}

