{% extends 'base.html' %}
{% block titulo  %} Acerca de MI {% endblock %}
{% block contenido %}

<h1> Acerca de MI </h1>
<hr>
<br/> 
Conocé a Juan Ignacio, un espíritu inquieto y apasionado por explorar el mundo. Desde temprana edad he sido cautivado por la emoción de viajar y descubrir nuevos destinos. Con cada viaje, me encuentro una nueva inspiración y una oportunidad para sumergirme en diferentes culturas, paisajes y experiencias.
<br/><br/>
Soy un verdadero viajero empedernido, siempre buscando expandir sus horizontes y salir de su zona de confort. Ya sea que esté subiendo montañas, navegando por los canales o caminando por las calles empedradas de un pueblo remoto.
<br/><br/>
La curiosidad y la sed de conocimiento de son mi motor principal. Me encanta sumergirme en la historia y la cultura de cada lugar que visita, visitando museos, sitios históricos y conectándose con la gente local para obtener una visión auténtica de cada destino.
<br/><br/>
Creo tener un don para capturar la belleza del mundo a través de su lente, ya sea con una cámara fotográfica o con palabras en su diario de viaje. Sus habilidades creativas le permiten compartir sus experiencias de una manera única y envolvente, inspirando a otros a explorar y descubrir por sí mismos.
<br/><br/>
En resumen, soy es un viajero apasionado y en constante búsqueda de aventuras. Mi amor por la exploración, combinado con su curiosidad insaciable y su habilidad para capturar la esencia de cada experiencia, me convierte en un narrador apasionante y un guía inspirador para aquellos que buscan descubrir el mundo a través de los ojos de un viajero.


{% endblock %}