{% extends 'base.html' %}
{% block titulo  %} Crear un nuevo articulo {% endblock %}
{% block contenido %}


{%if user.is_authenticated %}
<h1> Agregar articulo </h1>
<hr>


<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-secondary">Publicar</button>
</div>

<!-- js para cargar automaticamente el autor logueado en autor -->
<script> 
    var name = "{{ user.id }}";
    document.getElementById("juan").value
        = name;
</script>

{% else %}

No tenés permiso para acceder a esta pagina :(

{% endif %}

{% endblock %}