{% extends 'base.html' %}
{% block titulo  %} {{articulo.titulo_tag}} {% endblock %}


{% block contenido %}
<h1>{{ articulo.titulo }}</h1>
<small> 
Por: {{ articulo.autor.first_name}} 
{{articulo.autor.last_name }} - 
{{ articulo.fecha }} 

{%if user.is_authenticated %}
    {% if user.id == articulo.autor.id %}  <!-- solo los autores pueden editar/eliminar sus propios post --> 
    <small> - <a href="{% url 'editar_articulo' articulo.pk %}">Editar</a></small> 
    <small> - <a href="{% url 'eliminar_articulo' articulo.pk %}">Eliminar</a></small> 
        </small><br/>
    {% endif %}
{% endif %}

<hr>
<br/>
{{ articulo.cuerpo | safe}}
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>

{% endblock %}