{% extends 'base.html' %}
{% load static %}
{% block titulo  %} {{articulo.titulo_tag}} {% endblock %}


{% block contenido %}

{% if articulo.imagen_header %}
<img src="{{ articulo.imagen_header.url }}"> </br></br>
{% endif %}

<h1>{{ articulo.titulo }}</h1>
<small> 
Por: {{ articulo.autor.first_name}} 
{{articulo.autor.last_name }} - 
{{ articulo.fecha }} 

{%if user.is_authenticated %}
    {% if user.id == articulo.autor.id %}  <!-- solo los autores pueden editar/eliminar sus propios post --> 
    <small> - <a href="{% url 'editar_articulo' articulo.pk %}">Editar</a></small> 
    <small> - <a href="{% url 'eliminar_articulo' articulo.pk %}">Eliminar</a></small> 
        </small><br/>
    {% endif %}
{% endif %}

<hr>
<br/>

{{ articulo.cuerpo | safe}}
<br/>
<!--<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>-->

<br/>
 


<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if articulo.autor.perfil.imagen_perfil %}
            <img src="{{ articulo.autor.perfil.imagen_perfil.url }}" width=190  height=190 class="rounded-circle" class="card-img">
        {% else %}
            <img src="{% static 'tblog_app/images/perfil_default.png' %}" width=190  height=190 class="rounded-circle" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ articulo.autor.first_name}} {{articulo.autor.last_name }}</h5>
          <p class="card-text">{{ articulo.autor.perfil.bio }} </p>
          <p class="card-text"><small class="text-muted">Miembro desde {{ articulo.autor.date_joined }} {{ articulo.autor_url }} | <a href="{% url 'pagina_perfil' articulo.autor.perfil.id %}">Ver pefil</a> </small></p>
        </div>
      </div>
    </div>
  </div>
  




{% endblock %}