{% extends 'base.html' %}
{% block titulo  %} Eliminar articulo {% endblock %}
{% block contenido %}


{%if user.is_authenticated %}
    {% if user.id == articulo.autor.id %}
        <h1> Eliminar articulo </h1>
        <br/> <br/> 
        <h3> Eliminar {{ articulo.titulo }} </h3>


        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Estas seguro? :(</strong><br/>
            <button class="btn btn-secondary">Eliminar</button>
        </div>
        {% else %}
            No tenés permiso para acceder a esta pagina :(
        {% endif %}
    
{% else %}
No tenés permiso para acceder a esta pagina :(
# AGREGAR IMAGEN # 
{% endif %}

{% endblock %}